{{ define "main" }}
    {{/*  _default/index  */}}
    {{ .Content }}
    {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
    {{- $paginator := .Paginate (where $pages "Params.hidden" "ne" true) -}}
    {{- $paginated := $paginator.Pages -}}
    <div class="listOfPages">
        {{- range $paginated -}}
        <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div>
                {{ .Content }}
            </div>
        </article>
        {{ end }}
    </div>
    {{- template "partials/paginator.html" . }}
{{ end }}